@import url(https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
}

.container {
  @apply max-w-6xl mx-auto;
}

.mask-gradient {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 1%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 99%
  );
}
