@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
}

.mask-gradient {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 1%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 99%
  );
}

@font-face {
  font-family: 'Satoshi'; 
  src: url('./assets/Satoshi.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}

